/* --- LOGIN SAYFASI CSS --- */

div#hoverbutton_type1, div#hoverbutton_type2 {
    -moz-border-radius:6px 6px 6px 6px;
    -moz-box-shadow:0 3px 6px rgba(0, 0, 0, 0.40);
    background:none repeat scroll 0 0;
    border:1.5px outset #AFAFAF;
    border-radius: 10px;
    margin-bottom: 5px
}

div#hoverbutton_type1:hover,div#hoverbutton_type2:hover {
    cursor: pointer;
    background:none repeat scroll 0 0;
}
div#hoverbutton_type1 {
    background-color: #E0EFE3;
}
div#hoverbutton_type2 {
    background-color:  white;
}
div#hoverbutton_type1:hover {
    background-color: #EFFFF2;
}
div#hoverbutton_type2:hover {
    background-color: #E3F4EC;
}

div#login {
    -moz-border-radius:6px 6px 6px 6px;
    -moz-box-shadow:0px 3px 8px rgba(0, 0, 0, 0.50);
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #BBBBBB;
    margin-bottom: 5px
}

.giristextbox {	
        font-size: 14px;
        border: 2px solid #777777;
	padding:2px 2px;
	margin-bottom:0px;
}

.giristextboxkucuk {	
        font-size: 14px;
        border: 2px solid #777777;
	padding:2px 2px;
	margin-bottom:0px;
}

.giristextboxfocus {	
        font-size: 14px;
        border: 2px solid #368D83;
	padding:2px 2px;
	margin-bottom:0px;
        background-color: #FFFAF2;
}

.giristextboxkucukfocus {	
        font-size: 14px;
        border: 2px solid #368D83;
	padding:2px 2px;
	margin-bottom:0px;
        background-color: #FFFAF2;
}

div#sistemegiris, div.wrapper, div#kullaniciadiparola {
    margin:0 auto;
    position:relative;
}

.loginBtn {
    color:#333333;
    font:bold 11px Tahoma,Geneva,sans-serif;
    padding:3px 12px;
}

.girisAlanAdi {
    font-size: 14px;
    font-weight: bold;
}

/* --- LOGIN SAYFASI CSS --- */