table.veriListeTablo{
    font-size:8pt;
    background-color: white;
    border-collapse: collapse;
    margin-top : 5px;
}
table.veriListeTablo thead tr {
	background-color: #E3F4EC;
        font-weight: bold;
        height: 20px;
        text-align: center;
}

.tablearabaslik {
	background-color: #E3F4EC;
        height: 18px;
}


table.veriListeTablo tr.even {
	background-color: #F5F5F5;
}

table.veriListeTablo,table.veriListeTablo td,table.veriListeTablo th{
	border-width: 1px;
        border-color: gray;
        border-style: solid solid solid solid;
}
table.cercevesizTablo,table.cercevesizTablo td{
    border-width: 0px;
}


table.veriListeTablo th.order1 a {
    background-image: url(../resimler/arrow_down.png) !important;
}

table.veriListeTablo th.order2 a {
    background-image: url(../resimler/arrow_up.png) !important;
}



table.veriListeTablo th.sortable a {
    background-image: url(../resimler/arrow_off.png);
}

table.veriListeTablo th.sorted {
    background-color: #acb;
    color: white;
}

table.veriListeTablo th.sorted a, table.veriListeTablo th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    display: block;
}

table.displaytag{
    background-color: white;
    border-collapse: collapse;
    margin-top : 5px;
    font-size : 8pt;
}
table.displaytag thead tr {
	background-color: #E3F4EC;
        font-weight: bold;
        text-align: center;
}

table.displaytag tr.even {
	background-color: #F5F5F5;
}
table.displaytag tr.selectedRow {
	background-color: #E3F4EC;
}
table.displaytag,table.displaytag td,table.displaytag th{
	border-width: 1px;
        border-color: gray;
        border-style: solid solid solid solid;
}

table.displaytag th.order1 a {
    background-image: url(../resimler/arrow_down.png) !important;
}

table.displaytag th.order2 a {
    background-image: url(../resimler/arrow_up.png) !important;
}



table.displaytag th.sortable a {
    background-image: url(../resimler/arrow_off.png);
}

table.displaytag th.sorted {
    background-color: #acb;
    color: white;
}

table.displaytag th.sorted a, table.displaytag th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    display: block;
}

table.veriListeTablo tr.new {
    border:2px solid green; 
    background-color:#D1EFDB;
}

table.veriListeTablo tr.alert {
    border:2px solid #EF3B3B;
    background-color:#FFBFBF;
}


table.info {
    border:2px solid #86C0EF;
    background-color:#DFF1FF;
}
table.veriListeTablo tr:hover {background-color: #E3F4EC;}



